@page "/"
@inject NavigationManager nav
@inject IJSRuntime JS
@inject LocalContext localContext
@using Esp32Api.Models
@using System.Text.Json
@using Microsoft.EntityFrameworkCore

<PageTitle>Index</PageTitle>
<div class="form-group">
    <label for="ex">Caibrado a (cm)</label>
    <input @bind-value="Calibration" type="number" class="form-control" id="ex"  placeholder="Calibrador">
</div>

<br />
<h5>CONTEO: @Counter</h5>

@if (Temp == null)
{
    <i>SIN INICIALIZAR</i>
}
else
{
    <div style="height: 200px; position: relative">
        <div style="min-height: 20px;text-align: center; display: flex; justify-content: center; align-items: center; top: 0; position: absolute; height: @((Temp.Value/Calibration) * 100)%; width: 50px; transition: ease-in-out all .2s; border-radius: .5rem; background-color: #3f51b5; color: white;">@(Temp.Value)cm</div>
    </div>
}

@code {
    private HttpClient httpClient = new();
    private decimal? Temp = null;
    private int Counter = 0;
    private int Calibration = 100;
    private bool CatchVariation = false;
    private int value = 0;
    protected override void OnInitialized()
    {
        //httpClient.BaseAddress = new Uri(nav.BaseUri);
        //StateHasChanged();
        getdata();
    }
    private async Task SaveCounter(int count, DateTime date)
    {
        try
        {
            
        }
        catch (Exception )
            {

                //return new Response<TempData> { IsSuccess = false, Message = e.Message };
            }
    }

    private async Task<Response<TempData>> Indexd()
        {
            try
            {
                var data = await localContext.TempDatas.FirstOrDefaultAsync();
                return new Response<TempData> { Data = data };
            }
            catch (Exception e)
            {

                return new Response<TempData> { IsSuccess = false, Message = e.Message };
            }
        }

    private async void getdata()
    {
        while (true)
        {
            try
            {
                Console.WriteLine(httpClient.BaseAddress);
                var data = await Indexd();

                //await JS.InvokeVoidAsync("console.log", JsonSerializer.Serialize(data));

                if (!data.IsSuccess || data.Data == null)
                {
                    Console.WriteLine("DATOS VACIOS");
                }
                else
                {
                    Temp = data.Data.Value <= 0 || data.Data.Value >= Calibration ? Calibration : data.Data.Value;

                    if (Temp < Calibration && !CatchVariation)
                    {
                        //Counter++;
                        CatchVariation = true;
                    }
                    if (CatchVariation && Temp >= Calibration)
                    {
                        Counter++;
                        CatchVariation = false;
                    }
                    StateHasChanged();

                }

                //await Task.Delay(50);
                StateHasChanged();
            }
            catch (Exception e)
            {
                Console.WriteLine(e.Message);
            }
        }

    }
}